.menu {
  flex-wrap: nowrap !important;
  width: 100%;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  .menuLeft {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
    &_title {
      text-decoration: none;
      padding: 0px 18px 4px;
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.1px;
      color: #2c2c2c;
      @media (max-width: 991px) {
        padding: 0px 8px 4px;
      }
    }
    &_titleDropdown {
      position: relative;
      a {
        position: relative;
        z-index: 66;

        padding: 0 25px 4px 15px;
        font-size: 16px;
        letter-spacing: 0.1px;
        color: #2c2c2c;
        &::after {
          display: none;
        }
      }
      svg {
        font-size: 11px;
        position: absolute;
        top: 8px;
        right: 6px;
        z-index: 0;
      }
      .dropdown-menu {
        width: 250px;
        margin-top: 12px;
        padding: 0;
        border: 0;

        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        &::after {
          content: " ";
          position: absolute;
          left: 30px;
          top: -15px;
          border-top: none;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          border-bottom: 15px solid white;
        }
        a {
          padding: 16px;
          font-size: 16px;
          letter-spacing: 0.1px;
          color: #2c2c2c;
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .menuRight {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 768px) {
      width: 150px;
    }
    .btnheart {
      margin-top: 5px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.burger {
  outline: 0;
  border: 0;
  margin-top: 8px;
  padding: 0 8px 0 0;
  background: transparent;
  &:hover {
    border: 0;
    outline: 0;
  }
  &:focus {
    border: 0;
    box-shadow: none;
  }
}
.menuMoblie {
  .accordion {
    border: 0 !important;
    box-shadow: none !important;
    button {
      color: #333;
      font-size: 20px;
      padding: 16px 16px;
      &:focus {
        box-shadow: none !important;
        background-color: #fff;
        color: #333;
      }
    }
    .accordion-body {
      font-size: 18px;
      padding-left: 32px;
      padding-top: 0px;
    }
  }
  .info {
    background: #202020;
    padding: 40px 10px;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  p {
    color: #fff;
  }
  h3 {
    color: #fff;
    text-align: center;
    padding-bottom: 16px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  li {
    display: inline-block;
  }
  a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
  }
}
