.footer {
  margin-top: 40px;
  text-align: center;
  border-radius: 18px 18px 0 0;
  padding: 24px 16px;
  background-image: url(https://wallpaper.dog/large/11032562.jpg);
  background-size: cover;
  @media (max-width: 768px) {
    padding: 0;
    background-image: none;
  }
  h4 {
    font-size: 36px;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &_iconsGroup {
    display: flex;
    justify-content: center;
  }
  &_icons {
    width: 30px;
    height: 30px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 50%;

    color: #fff;
    svg {
      font-size: 16px;
      margin-top: 5px;
    }
    &-fb {
      background-color: #0d8af0;
    }
    &-instagram {
      background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
      );
    }
    &-youtube {
      background-color: red;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      padding: 0;
    }
    li {
      font-weight: 500;
      padding: 24px 8px;
      @media (max-width: 768px) {
        padding: 8px;
      }
    }
  }
  p {
    font-size: 14px;
  }
}
