footer {
  background-color: #333;
  @media (max-width: 768px) {
    height: 430px;
  }
  .footer-widget p {
    margin-bottom: 27px;
  }
  p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: white;
    line-height: 28px;
  }
  .dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
  }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
  }
  .dk-footer .contact-us .contact-info {
    margin-left: 50px;
  }
  .dk-footer .contact-us.contact-us-last {
    margin-left: -50px;
  }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
  }

  .info {
    position: absolute;
    top: -50px;
    background: #202020;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 2;
    @media (max-width: 991px) {
     padding: 20px;
    }
    @media (max-width: 768px) {
      width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer-logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
  }

  .footer-awarad {
    margin-top: 285px;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    
  }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
  }

  .footer-info-text {
    margin: 26px 0 32px;
  }

  .footer-left-widget {
    margin-left: 50px;
  }

  .footer-widget {
    margin-top: 24px;
  }

  .footer-widget h3 {
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    letter-spacing: 1px;
    max-width: fit-content;
  }

  .footer-widget ul {
    display: grid;
    grid-template-columns: auto auto;
    li {
      margin-bottom: 18px;
    }
    p {
      margin-bottom: 27px;
    }
    a {
      color: #878787;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: #007bff;
      }
    }
  }

  .footer-widget:after {
    content: "";
    display: block;
    clear: both;
  }

  .dk-footer-form {
    position: relative;
    @media (max-width: 768px) {
      margin-top: 80px;
    }
  }
  .dk-footer-form input[type="email"] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
  }
  .dk-footer-form button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
  }
  .dk-footer-form button:hover {
    cursor: pointer;
  }

  /* ==========================
    
        Contact
    
    =============================*/
  .contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .contact-icon {
    padding-right: 10px;
  }
  .contact-icon i {
    font-size: 28px;
    top: -5px;
    position: relative;
    color: #007bff;
  }

  .contact-info {
    color: #fff;
  }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
  }

  .copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
    @media (max-width: 768px) {
      margin-top: 20px;
      padding: 16px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .copyright a:hover {
    color: #007bff;
  }

  .copyright-menu ul {
    text-align: right;
    margin: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .copyright-menu li {
    display: inline-block;
    padding-left: 20px;
  }

  .back-to-top {
    position: relative;
    z-index: 2;
  }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    @media (max-width: 768px) {
      bottom: 10px;
    }
  }
  .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #fa6742;
    border-color: #fa6742;
  }
}
