.cardHeader {
  padding: 8px 24px;
  height: 40px;
  background-color: #00483d;
  border-radius: 10px;
  margin: 0 10px;
  border: 0;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  cursor: pointer;
  @media (max-width: 500px) {
    width: 160px;
    margin: 16px 8px 0;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
