.banner{
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    @media only screen and (max-width : 1024px) {
        margin: 10px 10px;
    }
    &_slider{
        .slick-prev{
            left: 1px;
            z-index: 1;
        }
        .slick-prev:before{
            font-size: 40px;
            color: #00483d; 
        }
        .slick-next{
            right: 20px;        
        }
        .slick-next:before{
            font-size: 40px;
            color: #00483d;
            right: 20px; 
        }
    }
}